<div class="grid grid--1x3">
    <div class="card">
      <h2 class="card__title">Mobile App Development</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ex dolor aspernatur, eveniet accusantium voluptatum corrupti obcaecati beatae totam quas!</p>
      <span class="icon-container icon--mobile card__icon">
        <img src="images/ios.png" class="icon" alt="">
        </span>
    </div>
    <div class="card">
      <h2 class="card__title">Web App Development</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ex dolor aspernatur, eveniet accusantium voluptatum corrupti obcaecati beatae totam quas!</p>
      <span class="icon-container icon--web card__icon">
        <img src="images/Website Icon.png" class="icon" alt="">
        </span>
    </div>
    <div class="card">
      <h2 class="card__title">E-commerce Solution</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ex dolor aspernatur, eveniet accusantium voluptatum corrupti obcaecati beatae totam quas!</p>
      <span class="icon-container icon--ecommerce card__icon">
        <img src="images/Web App Icon.png" class="icon" alt="">
        </span>
    </div>
    <div class="card">
      <h2 class="card__title">Cloud Hosting</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ex dolor aspernatur, eveniet accusantium voluptatum corrupti obcaecati beatae totam quas!</p>
      <span class="icon-container icon--cloud card__icon">
        <img src="images/Hosting Icon.png" class="icon" alt="">
        </span>
    </div>
    <div class="card">
      <h2 class="card__title">Network Monitering</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ex dolor aspernatur, eveniet accusantium voluptatum corrupti obcaecati beatae totam quas!</p>
      <span class="icon-container icon--network card__icon">
        <img src="images/Network Icon.png" class="icon" alt="">
        </span>
    </div>
    <div class="card">
      <h2 class="card__title">Remote & Onsite Desktop Support</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ex dolor aspernatur, eveniet accusantium voluptatum corrupti obcaecati beatae totam quas!</p>
      <span class="icon-container icon--support card__icon">
        <img src="images/Desktop Support.png" class="icon" alt="">
        </span>
    </div>
  </div>