<section id="features" class="features">
  <div class="feature--one feature-padd grid grid--1x2">
    <div class="feature--one__content">
      <h2 class="feature--title">Why Dhereye Services</h2>
      <p>
       With Dhereye services we develop custom software solutions to automate business operations, manage customer relationships, and analyze data to make better decisions. with our highly experienced software engineers we offer wide range of sevices including Ecommerce solution, Web app and mobile development, network monitering and automation tools and remote desktop support with the latest techonology trends.
      </p>
      <button class="btn btn--secondary">Learn More</button>
    </div>
    <img src="images/software.jpg" alt="" class="feature--image" />
  </div>
  <div class="feature--two feature-padd grid grid--1x2">
    <img src="images/founders.png" alt="" class="feature--image" />
    <div class="feature--two__content">
      <h2 class="feature--two__title">Helping new founders all the tools needed</h2>
      <p>
       With our company we provide all the tools you need in your business strategy including communication tools so that your team members collabrate each other, Project management tools to keep track of your projects and set deadlines, Development tools to build,test and deploy your software and Cloud computing platforms to host your applications and databases on server.
      </p>
      <button class="btn btn--primary">Learn More</button>
    </div>
  </div>
  <div class="feature--three feature-padd grid grid--1x2">
    <div class="feature--three__content">
      <h2 class="feature--title">Enabling businesses to operate productively</h2>
      <p>
      We enable productivity and improve operations using Agile methodology to enhance project management and development processes, CI and CD to streamline the software development pipline by automating the build,test and deployment processes, Employee training and development to invest staff on training programs to improve thier skills and keep them with the latest technologies.
      </p>
      <button class="btn btn--secondary">Learn More</button>
    </div>
    <img src="images/business-2.png" alt="" class="feature--image" />
  </div>
</section>