<section class="footer">
    <div class="dhereye-brand">
      <img src="images/logo.png" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
        voluptate!
      </p>
    </div>
    <div class="company">
      <h2 class="text">Company</h2>
      <ul class="footer-list">
        <li>About dhereye</li>
        <li>careers</li>
        <li>Blog</li>
        <li>Pricing</li>
      </ul>
    </div>
    <div class="products">
      <h2 class="text">Products</h2>
      <ul class="footer-list">
        <li>IOS Development</li>
        <li>Andriod Development</li>
        <li>Database</li>
        <li>Web App</li>
        <li>Wep Design</li>
      </ul>
    </div>
    <div class="Resources">
      <h2 class="text">Resources</h2>
      <ul class="footer-list">
        <li>Inviocing</li>
        <li>Contract</li>
        <li>Accounting</li>
        <li>Tutorials</li>
      </ul>
    </div>
    <div class="subscribe">
      <h2>Subscribe Now</h2>
      <input type="email" name="username" placeholder="Email" />
      <button class="btn btn--primary">Submit</button>
    </div>
  </section>