<div class="helped-over">
    <h2 class="helped-over__title">Helped Over 120 businesses</h2>
    <div class="helped-over__icons">
        <img src="images/Figma - Negative.png" alt="" class="icon">
        <img src="images/Dribbble - Negative.png" alt="" class="icon">
        <img src="images/Discord - Negative.png" alt="" class="icon">
        <img src="images/Clubhouse - Negative.png" alt="" class="icon">
        <img src="images/VK - Negative.png" alt="" class="icon">
        <img src="images/Spotify - Negative.png" alt="" class="icon">
        <img src="images/Github - Negative.png" alt="" class="icon">
    </div>
  </div>
