<section class="hero grid grid--1x2">
    <div class="hero__content">
        <h1 class="hero__title">Building Apps have never been easier, Dhereye got you cover!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quisquam deleniti minus quod magni reiciendis ex pariatur voluptatibus aspernatur quo obcaecati, rem provident repudiandae eos amet. Minus blanditiis cum voluptates.</p>
        <button class="btn btn--primary">Get started</button>
    </div>
    <div class="hero__image">
        <img src="images/hero.png" alt="">
    </div>
</section>