<nav class="nav">
  <a href="/"><img src="images/logo.png" class="nav__logo" alt="" /></a>

  <img src="images/menu.svg" class="icon nav__toggler" alt="" />

  <ul class="list nav__list">
    <li class="nav__item"><a href="">Home</a></li>
    <li class="nav__item"><a href="">Projects</a></li>
    <li class="nav__item"><a href="">Pricing</a></li>
    <li class="nav__item"><a href="">Services</a></li>
    <li class="nav__item"><a href="">Contact</a></li>
    <div class="nav-btn">
      <a href="#">Sign in</a>
      <button class="btn btn--outline">Start Free</button>
    </div>
  </ul>
</nav>
