<section class="projects">
  <h2 class="projects__title">Made With Dhereye Services</h2>
  <div class="grid grid--1x3">
    <div class="card project-card">
      <img src="images/slack.png" class="project-card__image" alt="" />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ex dolor
        aspernatur, eveniet accusantium voluptatum corrupti obcaecati beatae
        totam quas!
      </p>
    </div>
    <div class="card project-card">
      <img src="images/asana.png" class="project-card__image" alt="" />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ex dolor
        aspernatur, eveniet accusantium voluptatum corrupti obcaecati beatae
        totam quas!
      </p>
    </div>
    <div class="card project-card">
      <img src="images/monday.png" class="project-card__image" alt="" />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ex dolor
        aspernatur, eveniet accusantium voluptatum corrupti obcaecati beatae
        totam quas!
      </p>
    </div>
  </div>
  <a href="#" class="projects__link">See More</a>
</section>
