<section id="services" class="services">
  <div class="Services__content">
    <h2 class="services__title">What Dhereye Services do?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error,
      voluptatem?
    </p>
  </div>
  <div class="card__container grid grid--1x3">
    <div class="card">
      <h2 class="card__title">Mobile App Development</h2>
      <p>
       We provide high quality app solutions on a platform specific that fits your requirements with on time delivery
      </p>
      <span class="icon-container icon--mobile card__icon">
        <img src="images/ios.png" class="icon" alt="" />
      </span>
    </div>
    <div class="card">
      <h2 class="card__title">Web App Development</h2>
      <p>
        Our team brings effective,reliable and scalable web app solutions for any Enterprice business company with our qualified team
      </p>
      <span class="icon-container icon--web card__icon">
        <img src="images/Website Icon.png" class="icon" alt="" />
      </span>
    </div>
    <div class="card">
      <h2 class="card__title">Ecommerce Solution</h2>
      <p>
        Grow your business with our unified Ecommerce platform solution to sell your products and interact with other consumers
      </p>
      <span class="icon-container icon--ecommerce card__icon">
        <img src="images/Web App Icon.png" class="icon" alt="" />
      </span>
    </div>
    <div class="card">
      <h2 class="card__title">Cloud Hosting</h2>
      <p>
        We offer high quality VPS services at affordable prices. Our staff is highly experienced in virtualized systems and aims to deliver the best possible performance for a VPS service 
      </p>
      <span class="icon-container icon--cloud card__icon">
        <img src="images/Hosting Icon.png" class="icon" alt="" />
      </span>
    </div>
    <div class="card">
      <h2 class="card__title">Network Monitering</h2>
      <p>
      We deliver high performance monitering tools for your network and its operations like bandwidth utilization and traffic
      </p>
      <span class="icon-container icon--network card__icon">
        <img src="images/Network Icon.png" class="icon" alt="" />
      </span>
    </div>
    <div class="card">
      <h2 class="card__title">Remote & Onsite Desktop Support</h2>
      <p>
        Our experts can help to develop and implement an effective IT strategy, assist in smooth digital transformation and system integration
      </p>
      <span class="icon-container icon--support card__icon">
        <img src="images/Desktop Support.png" class="icon" alt="" />
      </span>
    </div>
  </div>
  <button class="btn btn--primary">Start Your Project</button>
</section>